<template>
  <n-a href="https://www.feuerwehr-schinkel.de/" target="_blank">
    <n-image src="./schinkel-logo.png" preview-disabled id="logo"/>
  </n-a>
  <div id="map-root" ref="mapCom" style="width: 100%; height: 100%"></div>

  <div ref="popupCom" class="popup">
    <n-card :title="content_organisation" closable
            @close="closePopup"
            size="small" style="text-align: left">

      <a :href="content_google" target="_blank">Google Route</a>
    </n-card>
  </div>

</template>

<script setup>

import {NCard} from 'naive-ui'
import {NImage} from 'naive-ui'
import {NA} from 'naive-ui'

import View from 'ol/View'
import Map from 'ol/Map'
import {fromLonLat, Projection} from 'ol/proj'
import TileLayer from 'ol/layer/Tile'
import OSM from 'ol/source/OSM'

// importing the OpenLayers stylesheet is required for having
// good looking buttons!
import 'ol/ol.css'
import {onMounted, ref} from "vue";
import {GeoJSON} from "ol/format.js";
import VectorSource from "ol/source/Vector.js";
import VectorLayer from "ol/layer/Vector.js";

import {Fill, Icon, Stroke, Style} from "ol/style.js";
import {Overlay} from "ol";

const currentCoordinate = ref()
const popupCom = ref(null)
const overlay = ref(null)
const mapCom = ref(null)

import geojsonUrl from "../assets/ausrueckebereich.geojson?url"


const polygonSource = new VectorSource({
  url: geojsonUrl,
  format: new GeoJSON(),
})

const polygonLayer = new VectorLayer({
  source: polygonSource,
  style: new Style({
    fill: new Fill({
      color: 'rgba(0, 255, 0, 0.5)' // Grüne Farbe mit 50% Transparenz
    }),
    stroke: new Stroke({
      color: 'rgba(0, 0, 0, 1)', // Schwarzer Rand
      width: 1 // Breite des Rands
    })
  })
});

function closePopup() {
  overlay.value.setPosition(undefined)
  currentCoordinate.value = ''
}

const content_id = ref("")
const content_strasse = ref("")
const content_ort = ref("")
const content_organisation = ref("")
const content_standort = ref("")
const content_google = ref("")


onMounted(() => {
      // this is where we create the OpenLayers map
      const map = new Map({
        // the map will be created using the 'map-root' ref
        target: mapCom.value,
        layers: [
          // adding a background tiled layer
          new TileLayer({
            source: new OSM() // tiles are served by OpenStreetMap
          }),
          polygonLayer,

        ],

        // the map view will initially show the whole world
        view: new View({
          zoom: 12,
          center: fromLonLat([8.0519, 52.2724]),
          constrainResolution: true,
          enableRotation: false,
          maxZoom: 18,
          minZoom: 11
        }),
        moveTolerance: 5
      })
      overlay.value = new Overlay({
        element: popupCom.value,
        autoPan: true,
        autoPanAnimation: {
          duration: 250
        }
      })
      map.addOverlay(overlay.value)
      map.on("singleclick", (evt) => {

        map.forEachFeatureAtPixel(evt.pixel, (feature, layer) => {

          content_id.value = feature.get('id')
          content_organisation.value = feature.get('stadtteil')
          //content_google.value = feature.get('google_route')
          const coord = evt.coordinate
          overlay.value.setPosition(coord)
        })


      })
    }
)
</script>

<style lang="scss" scoped>
#logo {
  position: absolute;
  bottom: 0px;
  width: auto;
  height: 35vh;
  opacity: 0.7;
  z-index: 100000;
}

.popup {
  min-width: 40vh;
  height: auto;
  background: #fff;
  position: absolute;
  top: -25vh;
  left: -25vh;
  box-sizing: border-box;
  padding: 4px;

  &::after {
    content: '';
    display: block;
    position: absolute;
    width: 20px;
    height: 20px;
    background: #fff;
    bottom: -10px;
    left: 50%;
    transform: translateX(-50%) rotate(45deg);
  }


}


</style>