<template>
  <n-layout>
    <MapContainer/>
  </n-layout>
</template>

<script setup>
import MapContainer from "./components/MapContainer.vue";
import {NLayout} from 'naive-ui'
</script>

<style>
html, body {
  height: 100%;
  width: 100%;
  padding: 0;
  background-color: rgba(240,190,0,0.8);
}

#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  height: 100%;
  width: 100%;
  display: grid;
  /*grid-template-columns: 100vh;*/
  /*grid-auto-rows: 1fr;*/
  /*grid-gap: 1rem;*/
  /*padding: 1rem;*/
  /*box-sizing: border-box;*/
}

</style>